# source/widgets/lm.cfg
#
# MIT License
#
# Copyright(c) 2023-present All contributors of SGL  
# Document reference link: docs directory
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#

SRC    += line/sgl_line.c
SRC    += rectangle/sgl_rectangle.c
SRC    += circle/sgl_circle.c
SRC    += ring/sgl_ring.c
SRC    += arc/sgl_arc.c
SRC    += button/sgl_button.c
SRC    += slider/sgl_slider.c
SRC    += progress/sgl_progress.c
SRC    += label/sgl_label.c
SRC    += switch/sgl_switch.c
SRC    += msgbox/sgl_msgbox.c
SRC    += textline/sgl_textline.c
SRC    += textbox/sgl_textbox.c
SRC    += checkbox/sgl_checkbox.c
# SRC    += listview/sgl_listview.c
SRC    += icon/sgl_icon.c
SRC    += numberkbd/sgl_numberkbd.c
SRC    += keyboard/sgl_keyboard.c
SRC    += dropdown/sgl_dropdown.c
SRC    += led/sgl_led.c
SRC    += 2dball/sgl_2dball.c
SRC    += unzip_image/sgl_unzip_image.c
SRC    += scroll/sgl_scroll.c
SRC    += scope/sgl_scope.c
SRC    += ext_img/sgl_ext_img.c
SRC    += polygon/sgl_polygon.c
