# source/mm/lm.cfg
#
# MIT License
#
# Copyright(c) 2023-present All contributors of SGL  
# Document reference link: docs directory
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#


# Two-Level Segregated Fit, Two level memory partitioning strategy algorithm
# If you want to use dynamic memory allocation algorithm, you can consider it as an option
CONFIG_SGL_HEAP_ALGO
    choices = tlsf, lwmem, other
    default = tlsf


CONFIG_SGL_FL_INDEX_MAX
    choices = [10, 31]
    depends = CONFIG_SGL_HEAP_ALGO
    default = 20


# Memory size is Byte
CONFIG_SGL_HEAP_MEMORY_SIZE
    choices = [1, 10000000]
    depends = CONFIG_SGL_HEAP_ALGO
    default = 10240



SRC-$(CONFIG_SGL_HEAP_ALGO == tlsf)      += tlsf/tlsf.c tlsf/sgl_mm.c
SRC-$(CONFIG_SGL_HEAP_ALGO == lwmem)     += lwmem/lwmem.c lwmem/sgl_mm.c
SRC-$(CONFIG_SGL_HEAP_ALGO == other)     += other/sgl_mm.c